<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Handler room</title>
  <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}">
  <script src = "/jquery/jquery.min.js" th:src="@{/resources/jquery/jquery.min.js}"></script>
</head>
<body>
  <table class="table">
    <thead>
      <tr>
        <th>
          roomId
        </th>
        <th>
          roomName
        </th>
        <th>
          roomCode
        </th>
        <th>
          active
        </th>
        <th>
          reply
        </th>
      </tr>
    </thead>
    <tbody>
      <th:block th:each="room: ${roomList}">
        <tr>
          <td th:text="${room.roomId}"></td>
          <td th:text="${room.roomName}"></td>
          <td th:text="${room.roomCode}"></td>
          <td th:text="${room.isActive}"></td>
          <td>
            <a th:href="@{'/handler/reply/' +${room.roomCode} + '/' + ${room.roomId} + '/' + ${room.roomName}}">reply</a>
          </td>
        </tr>
      </th:block>
    </tbody>
  </table>
</body>
</html>